nodered-dashboard/flows.json
[{"id":"67985d77.b82d74","type":"tab","label":"KP-IOT","disabled":false,"info":""},{"id":"7573f2d5.61b59c","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"79a6567e.3b2b58","order":2,"width":6,"height":1},{"id":"2d09eaea.caafe6","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"8b72d2e4.8980f","order":2,"width":6,"height":1},{"id":"8e0003ad.666f4","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"b14f41ad.c1d95","order":2,"width":6,"height":1},{"id":"4c8ab50.7d5ea4c","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"9f6fe1cf.e1be2","order":2,"width":6,"height":1},{"id":"3e553d69.fd4c92","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"79a6567e.3b2b58","order":2,"width":6,"height":1},{"id":"3bfb673.40ba698","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"8b72d2e4.8980f","order":2,"width":6,"height":1},{"id":"8ba9b56c.fa9748","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"b14f41ad.c1d95","order":2,"width":6,"height":1},{"id":"6fdaa1d0.29f35","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"9f6fe1cf.e1be2","order":2,"width":6,"height":1},{"id":"40b984ad.d7be5c","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"198bb551.838a4b","order":3,"width":6,"height":1},{"id":"187070f2.c70adf","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"b05c0cb4.4e66b","order":3,"width":6,"height":1},{"id":"e656dc72cd170840","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"c1a2e34c1d1f568a","order":1,"width":1,"height":1},{"id":"2aec1c958215236d","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"c1a2e34c1d1f568a","order":3,"width":1,"height":1},{"id":"70898b99eb6bda90","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"c1a2e34c1d1f568a","order":5,"width":2,"height":1},{"id":"d16b2d22e0dbfd44","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"c1a2e34c1d1f568a","order":7,"width":2,"height":1},{"id":"8add9a17a9017e61","type":"ui_spacer","z":"67985d77.b82d74","name":"spacer","group":"c1a2e34c1d1f568a","order":9,"width":2,"height":1},{"id":"715f547d.f225dc","type":"ui_group","name":"About","tab":"866447b2.723268","order":4,"disp":true,"width":"7","collapse":false},{"id":"79a6567e.3b2b58","type":"ui_group","name":"Suhu","tab":"297145b9.2a4c0a","order":2,"disp":true,"width":6,"collapse":false},{"id":"8b72d2e4.8980f","type":"ui_group","name":"Kelembaban","tab":"297145b9.2a4c0a","order":3,"disp":true,"width":6,"collapse":false},{"id":"b14f41ad.c1d95","type":"ui_group","name":"Tekanan Atmosfer","tab":"297145b9.2a4c0a","order":4,"disp":true,"width":6,"collapse":false},{"id":"f9b6bbb490ab102c","type":"MySQLdatabase","name":"","host":"mariadb","port":"3306","db":"iotData","tz":"","charset":"UTF8"},{"id":"69ea7f7f.460d6","type":"mqtt-broker","name":"","broker":"mosquitto-broker","port":"8883","tls":"11deab19.27c8d5","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9f6fe1cf.e1be2","type":"ui_group","name":"Ketinggian","tab":"297145b9.2a4c0a","order":4,"disp":true,"width":6,"collapse":false},{"id":"1d4f2cfd.d2ddd3","type":"ui_group","name":"Time Range","tab":"e132d8e.b46db28","order":1,"disp":true,"width":"6","collapse":false},{"id":"198bb551.838a4b","type":"ui_group","name":"Node 1","tab":"e132d8e.b46db28","order":2,"disp":true,"width":"6","collapse":false},{"id":"b05c0cb4.4e66b","type":"ui_group","name":"Node 2","tab":"e132d8e.b46db28","order":3,"disp":true,"width":"6","collapse":false},{"id":"3ec2417.0205bbe","type":"ui_group","name":"Welcome","tab":"949ab00e.18752","order":1,"disp":true,"width":"6","collapse":false},{"id":"d88d35c2.736998","type":"telegram bot","botname":"KPIoT","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"890b5356.30a25","type":"MySQLdatabase","name":"","host":"mariadb","port":"3306","db":"information_schema","tz":"","charset":"UTF8"},{"id":"e87ba42f.d8eb98","type":"MySQLdatabase","name":"","host":"mariadb","port":"3306","db":"test","tz":"","charset":"UTF8"},{"id":"c1a2e34c1d1f568a","type":"ui_group","name":"IP Camera Streaming","tab":"342980e3aecad6ef","order":1,"disp":true,"width":"12","collapse":false},{"id":"866447b2.723268","type":"ui_tab","name":"About","icon":"info","order":5,"disabled":false,"hidden":false},{"id":"297145b9.2a4c0a","type":"ui_tab","name":"Home","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"11deab19.27c8d5","type":"tls-config","name":"TLS","cert":"","key":"","ca":"","certname":"client.crt","keyname":"client.key","caname":"ca.crt","servername":"mosquitto-broker","verifyservercert":false,"alpnprotocol":""},{"id":"e132d8e.b46db28","type":"ui_tab","name":"Battery Status","icon":"battery_std","order":3,"disabled":false,"hidden":false},{"id":"949ab00e.18752","type":"ui_tab","name":"Welcome","icon":"favorite","order":1,"disabled":false,"hidden":false},{"id":"342980e3aecad6ef","type":"ui_tab","name":"IP Camera Streaming","icon":"videocam","order":4,"disabled":false,"hidden":false},{"id":"8ab1a7ac39abf45b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"44199a75a04d364f","type":"telegram bot","botname":"esp_ryan","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"1091b956.07f447","type":"ui_text","z":"67985d77.b82d74","group":"715f547d.f225dc","order":1,"width":0,"height":0,"name":"","label":"Designed by","format":"👌Tim KP IoT UGM 2021 👍","layout":"row-spread","x":270,"y":120,"wires":[]},{"id":"9625640a.ae7ae8","type":"ui_template","z":"67985d77.b82d74","group":"79a6567e.3b2b58","name":"","order":5,"width":0,"height":0,"format":"<script src=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js\" integrity=\"sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==\" crossorigin=\"anonymous\" referrerpolicy=\"no-referrer\"></script>\n<style>\n    body.nr-dashboard-theme {\n        font-family: arial, sans-serif;\n        font-weight: 500;\n    }\n    md-toast.notification-info {\n        border-color: darkgreen;\n    }\n    md-toast.notification-info > div {\n        background: rgb(65, 217, 189);\n        color: white;\n    }\n    md-toast.notification-warning {\n        border-color: darkorange;\n    }\n    md-toast.notification-warning > div {\n        background: rgb(255, 154, 0);\n        color: white;\n    }\n    md-toast.notification-error {\n        border-color: darkred;\n    }\n    md-toast.notification-error > div {\n        background: rgb(255, 0, 55);\n        color: white;\n    }\n    .nr-dashboard-template.nr-dashboard-ui_artlessgauge.visible{\n        font-size: larger;\n    }\n    .nr-dashboard-template.nr-dashboard-ui_artlessgauge.visible> * .medium{\n        transform: translateY(8%);\n        font-size: 1.3em;\n    }\n    .nr-dashboard-template.nr-dashboard-ui_artlessgauge.visible> * .big{\n        transform: translateY(5%);\n        font-size: 2.2em;\n        font-weight: 550;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":100,"y":40,"wires":[[]]},{"id":"84fa27fa.339528","type":"ui_artlessgauge","z":"67985d77.b82d74","group":"79a6567e.3b2b58","order":1,"width":6,"height":6,"name":"Suhu","icon":"fa-thermometer-empty","label":"Suhu Sekarang","unit":"°C","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#b8b8b8","style":"","colorFromTheme":true,"property":"current_value","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#00fbff","t":"min","dot":0},{"val":27,"col":"#18f226","t":"sec","dot":0},{"val":34,"col":"#f7a22b","t":"sec","dot":0},{"val":37,"col":"#ff2929","t":"sec","dot":0},{"val":85,"col":"#ff2929","t":"max","dot":0}],"lineWidth":"9","bgcolorFromTheme":false,"diffCenter":"","x":1170,"y":800,"wires":[]},{"id":"8ef308b4.4a1858","type":"ui_artlessgauge","z":"67985d77.b82d74","group":"8b72d2e4.8980f","order":1,"width":6,"height":6,"name":"Kelembaban","icon":"fa-tint","label":"Kelembaban Sekarang","unit":"%","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#b8b8b8","style":"","colorFromTheme":true,"property":"current_value","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#42fcff","t":"min","dot":0},{"val":30,"col":"#18f226","t":"sec","dot":0},{"val":46,"col":"#f7d52b","t":"sec","dot":0},{"val":75,"col":"#ff4929","t":"sec","dot":0},{"val":100,"col":"#ff4929","t":"max","dot":0}],"lineWidth":"9","bgcolorFromTheme":false,"diffCenter":"","x":1190,"y":900,"wires":[]},{"id":"995c6224.2df42","type":"ui_artlessgauge","z":"67985d77.b82d74","group":"b14f41ad.c1d95","order":1,"width":6,"height":6,"name":"Tekanan Atmosfer","icon":"fa-angle-double-down","label":"Tekanan Atmosfer Sekarang","unit":"hPa","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#b8b8b8","style":"","colorFromTheme":true,"property":"current_value","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":900,"col":"#00fbff","t":"min","dot":0},{"val":1013.25,"col":"#00fbff","t":"max","dot":0}],"lineWidth":"9","bgcolorFromTheme":false,"diffCenter":"","x":1210,"y":1000,"wires":[]},{"id":"a4e65923.564ef8","type":"switch","z":"67985d77.b82d74","name":"Temperature Threshold","property":"current_value","propertyType":"msg","rules":[{"t":"gte","v":"37","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":800,"wires":[["78490591.b02b1c"]]},{"id":"5481cf40.69dc5","type":"switch","z":"67985d77.b82d74","name":"Humidity Threshold","property":"current_value","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":840,"wires":[["1ded344d.bcd54c"]]},{"id":"78490591.b02b1c","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"SUHU TERLALU TINGGI (> 37℃)","tot":"str"},{"t":"set","p":"class","pt":"msg","to":"notification-error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":800,"wires":[["31c0d21d.82bfde"]]},{"id":"1ded344d.bcd54c","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"KELEMBABAN TERLALU TINGGI (> 50%)","tot":"str"},{"t":"set","p":"class","pt":"msg","to":"notification-error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":840,"wires":[["31c0d21d.82bfde"]]},{"id":"b228585d.380bd8","type":"function","z":"67985d77.b82d74","name":"temperature insert query","func":"var topic = msg.topic.split('/');\ntopic.pop();\ntopic = topic.toString().replace(/,/g,'/');\nvar payload = msg.payload.temperature;\nmsg.topic = \"INSERT INTO temperature (publisher, value) VALUES ('\"+topic+\"','\"+payload+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":260,"wires":[["9c1aca08.5737b8"]]},{"id":"9c1aca08.5737b8","type":"mysql","z":"67985d77.b82d74","mydb":"f9b6bbb490ab102c","name":"","x":960,"y":340,"wires":[[]]},{"id":"34e29e65.765202","type":"function","z":"67985d77.b82d74","name":"humidity insert query","func":"var topic = msg.topic.split('/');\ntopic.pop();\ntopic = topic.toString().replace(/,/g,'/');\nvar payload = msg.payload.humidity;\nmsg.topic = \"INSERT INTO humidity (publisher, value) VALUES ('\"+topic+\"','\"+payload+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":300,"wires":[["9c1aca08.5737b8"]]},{"id":"3ca43570.19b57a","type":"function","z":"67985d77.b82d74","name":"pressure insert query","func":"var topic = msg.topic.split('/');\ntopic.pop();\ntopic = topic.toString().replace(/,/g,'/');\nvar payload = msg.payload.pressure;\nmsg.topic = \"INSERT INTO pressure (publisher, value) VALUES ('\"+topic+\"','\"+payload+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":340,"wires":[["9c1aca08.5737b8"]]},{"id":"ae43e191.a50ca","type":"ui_dropdown","z":"67985d77.b82d74","name":"","label":"Time Range","tooltip":"","place":"Select option","group":"79a6567e.3b2b58","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 Jam","value":1,"type":"num"},{"label":"2 Jam","value":2,"type":"num"},{"label":"3 Jam","value":3,"type":"num"},{"label":"4 Jam","value":4,"type":"num"},{"label":"5 Jam","value":5,"type":"num"},{"label":"6 Jam","value":6,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":560,"wires":[["55398a5.f6c2374","16f49f52.7b49a1"]]},{"id":"ad2a13d1.7b77c","type":"debug","z":"67985d77.b82d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":340,"wires":[]},{"id":"f5e3d084.d764f","type":"debug","z":"67985d77.b82d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":220,"wires":[]},{"id":"d9f7ee33.738f8","type":"debug","z":"67985d77.b82d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":300,"wires":[]},{"id":"16f49f52.7b49a1","type":"function","z":"67985d77.b82d74","name":"temperature select query","func":"var table = 'temperature';\nvar range = global.get('time_range.temp') || 1;\nvar dateTime = new Date();\nvar date = dateTime.getFullYear()+'-'+(('0'+(dateTime.getMonth()+1)).slice(-2))+'-'+('0'+dateTime.getDate()).slice(-2);\nvar h = ('0'+dateTime.getHours()).slice(-2);\nvar m = ('0'+dateTime.getMinutes()).slice(-2);\nvar s = ('0'+dateTime.getSeconds()).slice(-2);\nvar end_time = h+':'+m+':'+s;\ndateTime.setHours(dateTime.getHours()-range);\nvar start_time = ('0'+dateTime.getHours()).slice(-2)+':'+m+':'+s;\n\nmsg.topic = 'SELECT * FROM '+table+' WHERE timestamp BETWEEN \"'+date+' '+start_time+'\" AND \"'+date+' '+end_time+'\"';\nmsg.series = 'Temperature (°C)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":860,"wires":[["366e5480.1cc03c"]]},{"id":"366e5480.1cc03c","type":"mysql","z":"67985d77.b82d74","mydb":"f9b6bbb490ab102c","name":"","x":620,"y":920,"wires":[["e0c35b5a.aaefe8"]]},{"id":"6437fc9b.719184","type":"function","z":"67985d77.b82d74","name":"humidity select query","func":"var table = 'humidity';\nvar range = global.get('time_range.hum') || 1;\nvar dateTime = new Date();\nvar date = dateTime.getFullYear()+'-'+(('0'+(dateTime.getMonth()+1)).slice(-2))+'-'+('0'+dateTime.getDate()).slice(-2);\nvar h = ('0'+dateTime.getHours()).slice(-2);\nvar m = ('0'+dateTime.getMinutes()).slice(-2);\nvar s = ('0'+dateTime.getSeconds()).slice(-2);\nvar end_time = h+':'+m+':'+s;\ndateTime.setHours(dateTime.getHours()-range);\nvar start_time = ('0'+dateTime.getHours()).slice(-2)+':'+m+':'+s;\n\nmsg.topic = 'SELECT * FROM '+table+' WHERE timestamp BETWEEN \"'+date+' '+start_time+'\" AND \"'+date+' '+end_time+'\"';\nmsg.series = 'Humidity (%)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":900,"wires":[["366e5480.1cc03c"]]},{"id":"a468c767.b55658","type":"function","z":"67985d77.b82d74","name":"pressure select query","func":"var table = 'pressure';\nvar range = global.get('time_range.press') || 1;\nvar dateTime = new Date();\nvar date = dateTime.getFullYear()+'-'+(('0'+(dateTime.getMonth()+1)).slice(-2))+'-'+('0'+dateTime.getDate()).slice(-2);\nvar h = ('0'+dateTime.getHours()).slice(-2);\nvar m = ('0'+dateTime.getMinutes()).slice(-2);\nvar s = ('0'+dateTime.getSeconds()).slice(-2);\nvar end_time = h+':'+m+':'+s;\ndateTime.setHours(dateTime.getHours()-range);\nvar start_time = ('0'+dateTime.getHours()).slice(-2)+':'+m+':'+s;\n\nmsg.topic = 'SELECT * FROM '+table+' WHERE timestamp BETWEEN \"'+date+' '+start_time+'\" AND \"'+date+' '+end_time+'\"';\nmsg.series = 'Pressure (hPa)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":940,"wires":[["366e5480.1cc03c"]]},{"id":"3d9199c3.ff9976","type":"debug","z":"67985d77.b82d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":420,"wires":[]},{"id":"722e9470.3ee63c","type":"inject","z":"67985d77.b82d74","name":"","props":[],"repeat":"30","crontab":"","once":true,"onceDelay":"0.5","topic":"","x":130,"y":920,"wires":[["7098fe19.027e4","a468c767.b55658","16f49f52.7b49a1","6437fc9b.719184","34a5dd5.5c10922"]]},{"id":"b2c351d5.6b725","type":"ui_chart","z":"67985d77.b82d74","name":"Graph Suhu","group":"79a6567e.3b2b58","order":3,"width":6,"height":5,"label":"Grafik {{msg.range}} Jam Terakhir","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Data Not Found","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":840,"wires":[[]]},{"id":"c39fe14b.591fd","type":"ui_chart","z":"67985d77.b82d74","name":"Graph Kelembaban","group":"8b72d2e4.8980f","order":3,"width":6,"height":5,"label":"Grafik {{msg.range}} Jam Terakhir","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Data Not Found","dot":true,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":940,"wires":[[]]},{"id":"f5d33109.299ee","type":"ui_chart","z":"67985d77.b82d74","name":"Graph Tekanan","group":"b14f41ad.c1d95","order":3,"width":6,"height":5,"label":"Grafik {{msg.range}} Jam Terakhir","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Data Not Found","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":1040,"wires":[[]]},{"id":"ab99227e.7a061","type":"debug","z":"67985d77.b82d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":260,"wires":[]},{"id":"5eb1ff2e.8548c","type":"function","z":"67985d77.b82d74","name":"Time Series Data Parser","func":"var data = [];\nvar time = [];\n\nmsg.payload.forEach(function(tsData){\n    data.push(tsData['value']);\n    var d = new Date(tsData['timestamp']);\n    time.push(('0'+d.getHours()).slice(-2)+':'+('0'+d.getMinutes()).slice(-2));\n});\n\nmsg.publisher = msg.payload[msg.payload.length - 1]['publisher']\nmsg.current_value = msg.payload[msg.payload.length - 1]['value']\n\nmsg.payload = [{\n    series: [msg.series || ''],\n    data: [data],\n    labels: time\n}];\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1000,"wires":[["d67dd0d2.817"]]},{"id":"55398a5.f6c2374","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"set","p":"time_range.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":560,"wires":[[]]},{"id":"20342c13.c9af44","type":"comment","z":"67985d77.b82d74","name":"MQTT -> DB","info":"","x":110,"y":200,"wires":[]},{"id":"853336ef.918228","type":"comment","z":"67985d77.b82d74","name":"DB -> Dashboard","info":"","x":120,"y":760,"wires":[]},{"id":"3e345375.c3deac","type":"json","z":"67985d77.b82d74","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":340,"wires":[["1ab6fbf4.a6d434","cb2d25af.f3d588"]]},{"id":"89bfa80c.0470d8","type":"mqtt in","z":"67985d77.b82d74","name":"","topic":"iot/node/1/sensor_data","qos":"2","datatype":"auto","broker":"69ea7f7f.460d6","nl":false,"rap":true,"rh":"2","x":160,"y":240,"wires":[["3e345375.c3deac"]]},{"id":"9dcf710a.18b9c","type":"mqtt in","z":"67985d77.b82d74","name":"","topic":"iot/node/2/sensor_data","qos":"2","datatype":"auto","broker":"69ea7f7f.460d6","nl":false,"rap":true,"rh":"2","x":160,"y":380,"wires":[["3e345375.c3deac"]]},{"id":"1ab6fbf4.a6d434","type":"switch","z":"67985d77.b82d74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"temperature","vt":"str"},{"t":"hask","v":"humidity","vt":"str"},{"t":"hask","v":"pressure","vt":"str"},{"t":"hask","v":"altitude","vt":"str"},{"t":"hask","v":"battery_level","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":510,"y":340,"wires":[["b228585d.380bd8"],["34e29e65.765202"],["3ca43570.19b57a"],["e7f61b8f.e1dd98"],["b19e1f7f.6c3e5"]]},{"id":"e7f61b8f.e1dd98","type":"function","z":"67985d77.b82d74","name":"altitude insert query","func":"var topic = msg.topic.split('/');\ntopic.pop();\ntopic = topic.toString().replace(/,/g,'/');\nvar payload = msg.payload.altitude;\nmsg.topic = \"INSERT INTO altitude (publisher, value) VALUES ('\"+topic+\"','\"+payload+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":380,"wires":[["9c1aca08.5737b8"]]},{"id":"b19e1f7f.6c3e5","type":"function","z":"67985d77.b82d74","name":"battery_level insert query","func":"var topic = msg.topic.split('/');\ntopic.pop();\ntopic = topic.toString().replace(/,/g,'/');\nvar payload = msg.payload.battery_level;\nmsg.topic = \"INSERT INTO battery_level (publisher, value) VALUES ('\"+topic+\"','\"+payload+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":420,"wires":[["9c1aca08.5737b8"]]},{"id":"a52942ab.6fdd6","type":"mqtt in","z":"67985d77.b82d74","name":"","topic":"iot/node/1/battery_level","qos":"2","datatype":"auto","broker":"69ea7f7f.460d6","nl":false,"rap":true,"rh":"0","x":160,"y":300,"wires":[["3e345375.c3deac"]]},{"id":"4bdd38a6.3afca8","type":"mqtt in","z":"67985d77.b82d74","name":"","topic":"iot/node/2/battery_level","qos":"2","datatype":"auto","broker":"69ea7f7f.460d6","nl":false,"rap":true,"rh":"0","x":160,"y":440,"wires":[["3e345375.c3deac"]]},{"id":"cf23555d.38e388","type":"switch","z":"67985d77.b82d74","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"temperature","vt":"str"},{"t":"cont","v":"humidity","vt":"str"},{"t":"cont","v":"pressure","vt":"str"},{"t":"cont","v":"altitude","vt":"str"},{"t":"cont","v":"battery_level","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":970,"y":1020,"wires":[["b2c351d5.6b725","84fa27fa.339528","a4e65923.564ef8","52b36e8d.c4c79"],["c39fe14b.591fd","8ef308b4.4a1858","5481cf40.69dc5","84d081fa.c134"],["f5d33109.299ee","995c6224.2df42","5581b86e.58fcd8"],["153bfdad.e84562","cead5573.ad5d28","12551a1.e6dbbe6"],["9c8668c.a60be98"]]},{"id":"34a5dd5.5c10922","type":"function","z":"67985d77.b82d74","name":"altitude select query","func":"var table = 'altitude';\nvar range = global.get('time_range.alt') || 1;\nvar dateTime = new Date();\nvar date = dateTime.getFullYear()+'-'+(('0'+(dateTime.getMonth()+1)).slice(-2))+'-'+('0'+dateTime.getDate()).slice(-2);\nvar h = ('0'+dateTime.getHours()).slice(-2);\nvar m = ('0'+dateTime.getMinutes()).slice(-2);\nvar s = ('0'+dateTime.getSeconds()).slice(-2);\nvar end_time = h+':'+m+':'+s;\ndateTime.setHours(dateTime.getHours()-range);\nvar start_time = ('0'+dateTime.getHours()).slice(-2)+':'+m+':'+s;\n\nmsg.topic = 'SELECT * FROM '+table+' WHERE timestamp BETWEEN \"'+date+' '+start_time+'\" AND \"'+date+' '+end_time+'\"';\nmsg.series = 'Altitude (m)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":980,"wires":[["366e5480.1cc03c"]]},{"id":"85113816.8d9d78","type":"function","z":"67985d77.b82d74","name":"battery_level select query","func":"var publisher = msg.payload['publisher'];\nvar table = 'battery_level';\nvar range = global.get('time_range.bat') || 1;\nvar dateTime = new Date();\nvar date = dateTime.getFullYear()+'-'+(('0'+(dateTime.getMonth()+1)).slice(-2))+'-'+('0'+dateTime.getDate()).slice(-2);\nvar h = ('0'+dateTime.getHours()).slice(-2);\nvar m = ('0'+dateTime.getMinutes()).slice(-2);\nvar s = ('0'+dateTime.getSeconds()).slice(-2);\nvar end_time = h+':'+m+':'+s;\ndateTime.setHours(dateTime.getHours()-range);\nvar start_time = ('0'+dateTime.getHours()).slice(-2)+':'+m+':'+s;\n\nmsg.topic = 'SELECT * FROM (SELECT * FROM '+table+' WHERE publisher=\"'+publisher+'\")a WHERE timestamp BETWEEN \"'+date+' '+start_time+'\" AND \"'+date+' '+end_time+'\";';\nmsg.series = 'Battery Level (Volt)';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1020,"wires":[["366e5480.1cc03c"]]},{"id":"d1d8184e.db1108","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"set","p":"time_range.hum","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":620,"wires":[[]]},{"id":"1626ccf5.0891f3","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"set","p":"time_range.press","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":680,"wires":[[]]},{"id":"dfae9630.c09448","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"set","p":"time_range.alt","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":560,"wires":[[]]},{"id":"d158dc31.d06b2","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"set","p":"time_range.bat","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":620,"wires":[[]]},{"id":"62d04e12.c4402","type":"ui_dropdown","z":"67985d77.b82d74","name":"","label":"Time Range","tooltip":"","place":"Select option","group":"8b72d2e4.8980f","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 Jam","value":1,"type":"num"},{"label":"2 Jam","value":2,"type":"num"},{"label":"3 Jam","value":3,"type":"num"},{"label":"4 Jam","value":4,"type":"num"},{"label":"5 Jam","value":5,"type":"num"},{"label":"6 Jam","value":6,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":620,"wires":[["d1d8184e.db1108","6437fc9b.719184"]]},{"id":"f28c7f4a.978d","type":"ui_dropdown","z":"67985d77.b82d74","name":"","label":"Time Range","tooltip":"","place":"Select option","group":"b14f41ad.c1d95","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 Jam","value":1,"type":"num"},{"label":"2 Jam","value":2,"type":"num"},{"label":"3 Jam","value":3,"type":"num"},{"label":"4 Jam","value":4,"type":"num"},{"label":"5 Jam","value":5,"type":"num"},{"label":"6 Jam","value":6,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":680,"wires":[["1626ccf5.0891f3","a468c767.b55658"]]},{"id":"f96920d2.714a1","type":"ui_dropdown","z":"67985d77.b82d74","name":"","label":"Time Range","tooltip":"","place":"Select option","group":"9f6fe1cf.e1be2","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 Jam","value":1,"type":"num"},{"label":"2 Jam","value":2,"type":"num"},{"label":"3 Jam","value":3,"type":"num"},{"label":"4 Jam","value":4,"type":"num"},{"label":"5 Jam","value":5,"type":"num"},{"label":"6 Jam","value":6,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":630,"y":560,"wires":[["dfae9630.c09448","34a5dd5.5c10922"]]},{"id":"3317e12.a51701e","type":"ui_dropdown","z":"67985d77.b82d74","name":"","label":"Time Range","tooltip":"","place":"Select option","group":"1d4f2cfd.d2ddd3","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 Jam","value":1,"type":"num"},{"label":"2 Jam","value":2,"type":"num"},{"label":"3 Jam","value":3,"type":"num"},{"label":"4 Jam","value":4,"type":"num"},{"label":"5 Jam","value":5,"type":"num"},{"label":"6 Jam","value":6,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":630,"y":620,"wires":[["d158dc31.d06b2","7098fe19.027e4"]]},{"id":"153bfdad.e84562","type":"ui_artlessgauge","z":"67985d77.b82d74","group":"9f6fe1cf.e1be2","order":1,"width":6,"height":6,"name":"Ketinggian","icon":"fa-ruler-vertical","label":"Ketinggian Sekarang","unit":"m","layout":"radial","decimals":"2","differential":false,"minmax":false,"colorTrack":"#b8b8b8","style":"","colorFromTheme":true,"property":"current_value","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#00fbff","t":"min","dot":0},{"val":1500,"col":"#00fbff","t":"max","dot":0}],"lineWidth":"9","bgcolorFromTheme":false,"diffCenter":"","x":1190,"y":1100,"wires":[]},{"id":"cead5573.ad5d28","type":"ui_chart","z":"67985d77.b82d74","name":"Graph Ketinggian","group":"9f6fe1cf.e1be2","order":3,"width":6,"height":5,"label":"Grafik {{msg.range}} Jam Terakhir","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Data Not Found","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":1140,"wires":[[]]},{"id":"7703c50c.4041ec","type":"ui_text","z":"67985d77.b82d74","group":"198bb551.838a4b","order":1,"width":0,"height":0,"name":"Current Percentage","label":"{{msg.publisher}}","format":"{{msg.current_percentage}} %","layout":"row-spread","x":1210,"y":1320,"wires":[]},{"id":"5afe6cb5.920084","type":"switch","z":"67985d77.b82d74","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"node/1","vt":"str"},{"t":"cont","v":"node/2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":1420,"wires":[["7703c50c.4041ec","79ad3aa9.275eb4","25828263.05a2ae","7ba200ee.a065c"],["3e671dde.71ddf2","aa271390.1bc51","d5e8a483.7bd908","7ba200ee.a065c"]]},{"id":"79ad3aa9.275eb4","type":"ui_text","z":"67985d77.b82d74","group":"198bb551.838a4b","order":2,"width":0,"height":0,"name":"Current Value","label":"{{msg.publisher}}","format":"{{msg.current_value}} V","layout":"row-spread","x":1200,"y":1360,"wires":[]},{"id":"25828263.05a2ae","type":"ui_chart","z":"67985d77.b82d74","name":"Graph Battery Level","group":"198bb551.838a4b","order":4,"width":6,"height":5,"label":"Grafik {{msg.range}} Jam Terakhir","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Data Not Found","dot":true,"ymin":"3","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":1400,"wires":[[]]},{"id":"3e671dde.71ddf2","type":"ui_text","z":"67985d77.b82d74","group":"b05c0cb4.4e66b","order":1,"width":0,"height":0,"name":"Current Percentage","label":"{{msg.publisher}}","format":"{{msg.current_percentage}} %","layout":"row-spread","x":1210,"y":1460,"wires":[]},{"id":"aa271390.1bc51","type":"ui_text","z":"67985d77.b82d74","group":"b05c0cb4.4e66b","order":2,"width":0,"height":0,"name":"Current Value","label":"{{msg.publisher}}","format":"{{msg.current_value}} V","layout":"row-spread","x":1200,"y":1500,"wires":[]},{"id":"d5e8a483.7bd908","type":"ui_chart","z":"67985d77.b82d74","name":"Graph Battery Level","group":"b05c0cb4.4e66b","order":4,"width":6,"height":5,"label":"Grafik {{msg.range}} Jam Terakhir","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Data Not Found","dot":true,"ymin":"3","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":1540,"wires":[[]]},{"id":"7098fe19.027e4","type":"function","z":"67985d77.b82d74","name":"Get Publisher From DB","func":"msg.topic = 'SELECT DISTINCT(publisher) FROM battery_level ORDER BY publisher;';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":800,"wires":[["366e5480.1cc03c"]]},{"id":"e0c35b5a.aaefe8","type":"switch","z":"67985d77.b82d74","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"DISTINCT","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":920,"wires":[["bc928b47.b47e18"],["5eb1ff2e.8548c"]]},{"id":"80cd14d5.422e68","type":"debug","z":"67985d77.b82d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":380,"wires":[]},{"id":"78eec84a.bef7b8","type":"function","z":"67985d77.b82d74","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":800,"wires":[["bc928b47.b47e18"]]},{"id":"bc928b47.b47e18","type":"function","z":"67985d77.b82d74","name":"for each item","func":"if( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":880,"wires":[["78eec84a.bef7b8","85113816.8d9d78"]]},{"id":"9c8668c.a60be98","type":"function","z":"67985d77.b82d74","name":"Voltage to Percentage","func":"msg.current_percentage = (msg.current_value/4.20*100).toFixed(2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1220,"wires":[["5afe6cb5.920084","22fa098d.8a5ff6"]]},{"id":"6bac5616.c4c1c8","type":"comment","z":"67985d77.b82d74","name":"Time Range Selector","info":"","x":140,"y":520,"wires":[]},{"id":"8c09a173.a492a","type":"debug","z":"67985d77.b82d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":540,"wires":[]},{"id":"cb2d25af.f3d588","type":"debug","z":"67985d77.b82d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":500,"wires":[]},{"id":"4b38c0b6.94a5d","type":"debug","z":"67985d77.b82d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":460,"wires":[]},{"id":"8481076d.bfbad8","type":"ui_text","z":"67985d77.b82d74","group":"3ec2417.0205bbe","order":0,"width":0,"height":0,"name":"Welcome","label":"","format":"Welcome to IoT Dashboard SV UGM","layout":"col-center","x":260,"y":40,"wires":[]},{"id":"49a16e58.ed18","type":"ui_text","z":"67985d77.b82d74","group":"3ec2417.0205bbe","order":0,"width":0,"height":0,"name":"Created by","label":"Created with ❤️ by Dimas & Ryan","format":"","layout":"col-center","x":270,"y":80,"wires":[]},{"id":"15bc0b39.c25805","type":"comment","z":"67985d77.b82d74","name":"Display Sensor Value","info":"","x":1200,"y":760,"wires":[]},{"id":"9f5eb120.4ca84","type":"comment","z":"67985d77.b82d74","name":"Display Battery Value","info":"","x":1200,"y":1280,"wires":[]},{"id":"7ba200ee.a065c","type":"switch","z":"67985d77.b82d74","name":"Low Battery Threshold","property":"current_value","propertyType":"msg","rules":[{"t":"lte","v":"3.1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1540,"y":900,"wires":[["b3de21d4.92503"]]},{"id":"b3de21d4.92503","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"topic","pt":"msg","to":"publisher","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Low Battery (< 3,1 V)","tot":"str"},{"t":"set","p":"class","pt":"msg","to":"notification-error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":900,"wires":[["372fdfff.7005c"]]},{"id":"372fdfff.7005c","type":"delay","z":"67985d77.b82d74","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1980,"y":900,"wires":[["ad14c660.98d148","ed94fbd6.91f158"]]},{"id":"f4468311.a30f4","type":"ui_toast","z":"67985d77.b82d74","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"gg","raw":true,"topic":"","name":"","x":2510,"y":820,"wires":[]},{"id":"ad14c660.98d148","type":"function","z":"67985d77.b82d74","name":"add style","func":"var cls = msg.class || 'notification-info';\n\nmsg.payload = `${msg.payload} <span class='${cls}' style='display: none'></span>\n<script>\n    \\$('div.md-toast-content span.${cls}').closest('md-toast').addClass('${cls}');\n</script>\n`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":820,"wires":[["f4468311.a30f4"]]},{"id":"d67dd0d2.817","type":"change","z":"67985d77.b82d74","name":"Change chart tooltip options","rules":[{"t":"set","p":"ui_control.options.tooltips.bodyFontSize","pt":"msg","to":"14","tot":"num"},{"t":"set","p":"ui_control.options.tooltips.titleFontSize","pt":"msg","to":"16","tot":"num"},{"t":"set","p":"ui_control.options.tooltips.titleFontStyle","pt":"msg","to":"bold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1040,"wires":[["cf23555d.38e388"]]},{"id":"2b558c3d.46f334","type":"telegram sender","z":"67985d77.b82d74","name":"","bot":"44199a75a04d364f","haserroroutput":false,"outputs":1,"x":2230,"y":420,"wires":[[]]},{"id":"154003fc.bceb9c","type":"telegram command","z":"67985d77.b82d74","name":"/start","command":"/start","description":"Start Bot","registercommand":true,"language":"","bot":"44199a75a04d364f","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1490,"y":240,"wires":[["de410e57.a3735"]]},{"id":"7ae934e9.94a1d4","type":"telegram command","z":"67985d77.b82d74","name":"/help","command":"/help","description":"Menampilkan daftar command","registercommand":true,"language":"","bot":"44199a75a04d364f","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1490,"y":300,"wires":[["11b04bce.b00ed4"]]},{"id":"11b04bce.b00ed4","type":"function","z":"67985d77.b82d74","name":"create help text","func":"helpMessage = '/start - Memulai bot\\r\\n';\nhelpMessage += '/help - Menampilkan daftar command\\r\\n';\nhelpMessage += '/sensor - Menampilkan nilai sensor saat ini\\r\\n';\nhelpMessage += '\\r\\n';\n\nmsg.payload.content = helpMessage;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":300,"wires":[["2b558c3d.46f334"]]},{"id":"de410e57.a3735","type":"function","z":"67985d77.b82d74","name":"welcome text","func":"startMessage = 'Halo, ';\nstartMessage += msg.originalMessage.from.username+' senpai :)\\r\\n';\nstartMessage += 'Perkenalkan aku adalah bot untuk sistem informasi IoT\\r\\n\\n';\nstartMessage += 'Silahkan ketik /help untuk menampilkan daftar command\\r\\n';\n\nmsg.payload.content = startMessage;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":240,"wires":[["2b558c3d.46f334"]]},{"id":"82f884df.9f2178","type":"comment","z":"67985d77.b82d74","name":"Telegram Bot","info":"","x":1490,"y":200,"wires":[]},{"id":"52b36e8d.c4c79","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"set","p":"current_value.temp","pt":"global","to":"current_value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":1060,"wires":[[]]},{"id":"ec774e3d.231d8","type":"telegram command","z":"67985d77.b82d74","name":"/sensor","command":"/sensor","description":"Menampilkan nilai sensor saat ini","registercommand":true,"language":"","bot":"44199a75a04d364f","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1490,"y":360,"wires":[["d43390ab.67a83"]]},{"id":"84d081fa.c134","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"set","p":"current_value.hum","pt":"global","to":"current_value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":1100,"wires":[[]]},{"id":"5581b86e.58fcd8","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"set","p":"current_value.press","pt":"global","to":"current_value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":1140,"wires":[[]]},{"id":"12551a1.e6dbbe6","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"set","p":"current_value.alt","pt":"global","to":"current_value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":1180,"wires":[[]]},{"id":"8e6cb1b6.0277a","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"set","p":"current_value.bat","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":1220,"wires":[[]]},{"id":"7e94dac0.95a534","type":"json","z":"67985d77.b82d74","name":"","property":"payload","action":"str","pretty":false,"x":1670,"y":1220,"wires":[["8b8ab05a.3938e"]]},{"id":"22fa098d.8a5ff6","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"move","p":"publisher","pt":"msg","to":"payload.publisher","tot":"msg"},{"t":"move","p":"current_percentage","pt":"msg","to":"payload.current_percentage","tot":"msg"},{"t":"move","p":"current_value","pt":"msg","to":"payload.current_value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1220,"wires":[["7e94dac0.95a534"]]},{"id":"8b8ab05a.3938e","type":"join","z":"67985d77.b82d74","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1790,"y":1220,"wires":[["8e6cb1b6.0277a"]]},{"id":"3060644c.e836bc","type":"function","z":"67985d77.b82d74","name":"Battery Level Response","func":"content = '*🤖Ini dia hasilnya🤖*\\r\\n\\n';\nbatArr = global.get('current_value.bat');\n\nbatArr.forEach(function(bat) {\n    bat = JSON.parse(bat);\n    content += '*Node* : '+bat.publisher+'\\r\\n';\n    content += '*Percentage* : '+bat.current_percentage+' %\\r\\n';\n    content += '*Voltage* : '+bat.current_value+' V\\r\\n';\n    content += '\\r\\n';\n});\n\nmsg.payload.type = 'message';\nmsg.payload.content = content;\nmsg.payload.options = {disable_web_page_preview : true, parse_mode : 'Markdown'};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":600,"wires":[["2b558c3d.46f334"]]},{"id":"338c359a.5a18fa","type":"function","z":"67985d77.b82d74","name":"Temperature Response","func":"content = '*🤖Ini dia hasilnya🤖*\\r\\n\\n';\ntemp = global.get('current_value.temp');\n\ncontent += '*️Temperature* : '+temp+' °C\\r\\n';\n\nmsg.payload.type = 'message';\nmsg.payload.content = content;\nmsg.payload.options = {disable_web_page_preview : true, parse_mode : 'Markdown'};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":440,"wires":[["2b558c3d.46f334"]]},{"id":"e4ab60e7.d99bc","type":"function","z":"67985d77.b82d74","name":"Humidity Response","func":"content = '*🤖Ini dia hasilnya🤖*\\r\\n\\n';\nhum = global.get('current_value.hum');\n\ncontent += '*Humidity* : '+hum+' %\\r\\n';\n\nmsg.payload.type = 'message';\nmsg.payload.content = content;\nmsg.payload.options = {disable_web_page_preview : true, parse_mode : 'Markdown'};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":480,"wires":[["2b558c3d.46f334"]]},{"id":"d47a8864.521028","type":"function","z":"67985d77.b82d74","name":"Pressure Response","func":"content = '*🤖Ini dia hasilnya🤖*\\r\\n\\n';\npress = global.get('current_value.press');\n\ncontent += '*Barometric Pressure* : '+press+' hPa\\r\\n';\n\nmsg.payload.type = 'message';\nmsg.payload.content = content;\nmsg.payload.options = {disable_web_page_preview : true, parse_mode : 'Markdown'};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":520,"wires":[["2b558c3d.46f334"]]},{"id":"70c97080.c0374","type":"function","z":"67985d77.b82d74","name":"Altitude Response","func":"content = '*🤖Ini dia hasilnya🤖*\\r\\n\\n';\nalt = global.get('current_value.alt');\n\ncontent += '*️Altitude* : '+alt+' meter\\r\\n';\n\nmsg.payload.type = 'message';\nmsg.payload.content = content;\nmsg.payload.options = {disable_web_page_preview : true, parse_mode : 'Markdown'};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":560,"wires":[["2b558c3d.46f334"]]},{"id":"31a3596e.147ac6","type":"telegram event","z":"67985d77.b82d74","name":"","bot":"44199a75a04d364f","event":"callback_query","autoanswer":true,"x":1520,"y":520,"wires":[["723051b2.930df"]]},{"id":"d43390ab.67a83","type":"function","z":"67985d77.b82d74","name":"pick sensor type","func":"opts = {\n  reply_markup: JSON.stringify({\n    'inline_keyboard': [\n        [{\n            'text': 'Temperature',\n            'callback_data': 'SENSOR_TEMP'            \n        }],\n        [{\n            'text': 'Humidity',\n            'callback_data': 'SENSOR_HUM'            \n        }],\n        [{\n            'text': 'Pressure',\n            'callback_data': 'SENSOR_PRESS'            \n        }],\n        [{\n            'text': 'Altitude',\n            'callback_data': 'SENSOR_ALT'            \n        }],\n        [{\n            'text': 'Battery Level',\n            'callback_data': 'SENSOR_BAT'            \n        }],\n    ]\n  })\n};\n\nmsg.error = false;\n// Dialogaufbau\nmsg.payload.content = 'Sensor apa yang ingin ditampilkan ?';\nmsg.payload.options = opts;\n\nmsg.payload.type = 'message';\n\nreturn [ msg ];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":360,"wires":[["2b558c3d.46f334"]]},{"id":"723051b2.930df","type":"switch","z":"67985d77.b82d74","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"SENSOR_TEMP","vt":"str"},{"t":"eq","v":"SENSOR_HUM","vt":"str"},{"t":"eq","v":"SENSOR_PRESS","vt":"str"},{"t":"eq","v":"SENSOR_ALT","vt":"str"},{"t":"eq","v":"SENSOR_BAT","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":1690,"y":520,"wires":[["338c359a.5a18fa"],["e4ab60e7.d99bc"],["d47a8864.521028"],["70c97080.c0374"],["3060644c.e836bc"]]},{"id":"ed94fbd6.91f158","type":"function","z":"67985d77.b82d74","name":"Telegram Notification","func":"content = '*🚨🚨🚨PERINGATAN🚨🚨🚨*\\r\\n\\n';\ncontent += '*🧾'+msg.topic+'🧾*\\r\\n\\n';\ncontent += msg.payload;\n\nmsg.payload = {chatId : 907796550, type : 'message', content : content}\nmsg.payload.options = {disable_web_page_preview : true, parse_mode : 'Markdown'};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":640,"wires":[["2b558c3d.46f334"]]},{"id":"48ca8961.6e90f8","type":"inject","z":"67985d77.b82d74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PING","payloadType":"str","x":1650,"y":640,"wires":[["ed94fbd6.91f158"]]},{"id":"7752c00e.cfac4","type":"function","z":"67985d77.b82d74","name":"Temperature","func":"if (msg.current_value != global.get('last_triggered.temp')) {\n    global.set('last_triggered.temp', msg.current_value);\n    msg.payload = 'Nilai saat ini : '+msg.current_value+' °C';\n    return [msg, null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2130,"y":780,"wires":[["ad14c660.98d148","ed94fbd6.91f158"],[]]},{"id":"31c0d21d.82bfde","type":"switch","z":"67985d77.b82d74","name":"","property":"series","propertyType":"msg","rules":[{"t":"cont","v":"Temperature","vt":"str"},{"t":"cont","v":"Humidity","vt":"str"},{"t":"cont","v":"Battery","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1950,"y":820,"wires":[["7752c00e.cfac4"],["a20df7d9.880808"],[]]},{"id":"a20df7d9.880808","type":"function","z":"67985d77.b82d74","name":"Humidity","func":"if (msg.current_value != global.get('last_triggered.hum')) {\n    global.set('last_triggered.hum', msg.current_value);\n    msg.payload = 'Nilai saat ini : '+msg.current_value+' %';\n    return [msg, null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2120,"y":860,"wires":[["ad14c660.98d148","ed94fbd6.91f158"],[]]},{"id":"4054f009.c2602","type":"change","z":"67985d77.b82d74","name":"Global Variable Initialization","rules":[{"t":"set","p":"last_triggered.temp","pt":"global","to":"0","tot":"num"},{"t":"set","p":"last_triggered.hum","pt":"global","to":"0","tot":"num"},{"t":"set","p":"time_range.temp","pt":"global","to":"1","tot":"num"},{"t":"set","p":"time_range.hum","pt":"global","to":"1","tot":"num"},{"t":"set","p":"time_range.press","pt":"global","to":"1","tot":"num"},{"t":"set","p":"time_range.alt","pt":"global","to":"1","tot":"num"},{"t":"set","p":"time_range.bat","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":80,"wires":[[]]},{"id":"1fda6eca.f03cb1","type":"inject","z":"67985d77.b82d74","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","x":630,"y":80,"wires":[["4054f009.c2602"]]},{"id":"13c7648e.99b6eb","type":"comment","z":"67985d77.b82d74","name":"Notification","info":"","x":1480,"y":760,"wires":[]},{"id":"c99c4a91.2878d8","type":"change","z":"67985d77.b82d74","name":"Temperature Time Range","rules":[{"t":"set","p":"range","pt":"msg","to":"time_range.temp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1320,"wires":[["b2c351d5.6b725"]]},{"id":"6a9998c3.aa05e8","type":"inject","z":"67985d77.b82d74","name":"","props":[],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1400,"wires":[["c99c4a91.2878d8","517e2ee5.83a57","59fd0aeb.507e84","d70b3c6.43bdfc","22ca033b.d3e09c"]]},{"id":"517e2ee5.83a57","type":"change","z":"67985d77.b82d74","name":"Humidity Time Range","rules":[{"t":"set","p":"range","pt":"msg","to":"time_range.hum","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1360,"wires":[["c39fe14b.591fd"]]},{"id":"59fd0aeb.507e84","type":"change","z":"67985d77.b82d74","name":"Pressure Time Range","rules":[{"t":"set","p":"range","pt":"msg","to":"time_range.press","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1400,"wires":[["f5d33109.299ee"]]},{"id":"d70b3c6.43bdfc","type":"change","z":"67985d77.b82d74","name":"Altitude Time Range","rules":[{"t":"set","p":"range","pt":"msg","to":"time_range.alt","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1440,"wires":[["cead5573.ad5d28"]]},{"id":"22ca033b.d3e09c","type":"change","z":"67985d77.b82d74","name":"Battery Time Range","rules":[{"t":"set","p":"range","pt":"msg","to":"time_range.bat","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1480,"wires":[["25828263.05a2ae","d5e8a483.7bd908"]]},{"id":"92a744ff.916848","type":"comment","z":"67985d77.b82d74","name":"Graph Time Range","info":"","x":130,"y":1280,"wires":[]},{"id":"ea206cb2.0cb9a","type":"comment","z":"67985d77.b82d74","name":"Save Sensor Current Value to Global Variable","info":"","x":1590,"y":1180,"wires":[]},{"id":"a9617b1c.c886e8","type":"comment","z":"67985d77.b82d74","name":"Global Variable Initialization","info":"","x":660,"y":40,"wires":[]},{"id":"5cafa8b2.5f24d8","type":"catch","z":"67985d77.b82d74","name":"","scope":null,"uncaught":false,"x":620,"y":800,"wires":[[]]},{"id":"f0eaa121.f78f6","type":"comment","z":"67985d77.b82d74","name":"Catch Error","info":"","x":610,"y":760,"wires":[]},{"id":"426f2afb8afa45ef","type":"function","z":"67985d77.b82d74","name":"30 Days Data Retention","func":"msg.topic = 'DELETE FROM '+msg.payload['TABLE_NAME']+' WHERE timestamp < NOW() - INTERVAL 1 MONTH';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":1480,"wires":[["ce3eddf71416d47a"]]},{"id":"2e97f4b45679c4ca","type":"inject","z":"67985d77.b82d74","name":"","props":[],"repeat":"86400","crontab":"","once":true,"onceDelay":"1","topic":"","x":1510,"y":1320,"wires":[["88dd3a829e20232a"]]},{"id":"88dd3a829e20232a","type":"function","z":"67985d77.b82d74","name":"Get Tables Name","func":"msg.topic = 'SELECT TABLE_NAME FROM TABLES WHERE TABLE_SCHEMA = \"iotData\"';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":1360,"wires":[["5f24e994775f9f5e"]]},{"id":"5f24e994775f9f5e","type":"mysql","z":"67985d77.b82d74","mydb":"890b5356.30a25","name":"","x":1680,"y":1400,"wires":[["4192a44c039efb3f"]]},{"id":"ce3eddf71416d47a","type":"mysql","z":"67985d77.b82d74","mydb":"f9b6bbb490ab102c","name":"","x":1740,"y":1520,"wires":[[]]},{"id":"66dfac5d66c84d5d","type":"function","z":"67985d77.b82d74","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":1320,"wires":[["4192a44c039efb3f"]]},{"id":"4192a44c039efb3f","type":"function","z":"67985d77.b82d74","name":"for each item","func":"if( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":1400,"wires":[["66dfac5d66c84d5d","426f2afb8afa45ef"]]},{"id":"b0426d2844e119fc","type":"comment","z":"67985d77.b82d74","name":"Delete Data Older Than 1 Month","info":"","x":1550,"y":1280,"wires":[]},{"id":"63a9fae44869b250","type":"ui_iframe","z":"67985d77.b82d74","group":"c1a2e34c1d1f568a","name":"Stream Viewer","order":10,"width":12,"height":10,"url":"","origin":"*","scale":"100","x":3040,"y":360,"wires":[[]]},{"id":"85e8949910a402eb","type":"comment","z":"67985d77.b82d74","name":"IP Camera Stream","info":"","x":2450,"y":200,"wires":[]},{"id":"3a20b649f5930272","type":"ui_form","z":"67985d77.b82d74","name":"Submit Stream URL","label":"","group":"c1a2e34c1d1f568a","order":2,"width":10,"height":1,"options":[{"label":"Stream URL","value":"url","type":"text","required":true,"rows":null}],"formValue":{"url":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":2480,"y":240,"wires":[["f76cd156fb11ec09"]]},{"id":"e56aba96542526fa","type":"debug","z":"67985d77.b82d74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3010,"y":280,"wires":[]},{"id":"c57bd0e53b832dfd","type":"ui_text","z":"67985d77.b82d74","group":"c1a2e34c1d1f568a","order":4,"width":12,"height":1,"name":"Label","label":"Streaming from","format":"{{msg.url}}","layout":"row-center","x":3010,"y":320,"wires":[]},{"id":"161fefea88969472","type":"function","z":"67985d77.b82d74","name":"Stream URL Modification","func":"msg.url = global.get('stream_url') + msg.payload;\nmsg.payload = '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2810,"y":320,"wires":[["63a9fae44869b250","c57bd0e53b832dfd","e56aba96542526fa"]]},{"id":"aff0325f19f61426","type":"ui_button","z":"67985d77.b82d74","name":"Streaming Setting","group":"c1a2e34c1d1f568a","order":6,"width":3,"height":1,"passthru":false,"label":"Settings","tooltip":"","color":"","bgcolor":"","icon":"settings","payload":"/","payloadType":"str","topic":"topic","topicType":"msg","x":2570,"y":320,"wires":[["161fefea88969472"]]},{"id":"c6c14cac6f1fe747","type":"ui_button","z":"67985d77.b82d74","name":"Streaming View","group":"c1a2e34c1d1f568a","order":8,"width":3,"height":1,"passthru":false,"label":"View","tooltip":"","color":"","bgcolor":"","icon":"visibility","payload":"/browserfs.html","payloadType":"str","topic":"topic","topicType":"msg","x":2580,"y":360,"wires":[["161fefea88969472"]]},{"id":"f76cd156fb11ec09","type":"change","z":"67985d77.b82d74","name":"","rules":[{"t":"set","p":"stream_url","pt":"global","to":"payload.url","tot":"msg"},{"t":"move","p":"payload.url","pt":"msg","to":"url","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"/browserfs.html","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2580,"y":280,"wires":[["161fefea88969472"]]}]
